/* SMART WATCH */

@media (min-width: 1px) and (max-width: 250px) {
    
  body {
    zoom: 0.2;    
  }
     
 
  .navbar {
    zoom: 0.6;       
  }
  
  .overall-bottom-container {
    display: grid;
    gap: 5px;
    grid-template-areas:
      "comment-text"
      "comment-container"
      "comment-send"
      "email-text"
      "email-container"
      "email-sub";
    max-width: 1200px;
    padding: 60px; /* Add padding for spacing inside the container */       
    border-radius: 10px; /* Optional rounded corners */
    flex-direction: column;  
  justify-content: center; /* Horizontal centering */
  align-items: center;  
  text-align: center;
  }


  .about-content, .extra-text, .copyright-content, .articles-content, .images-content, .projects-content, .coop-content, .tradingbot-content, .languages-content, .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;        
    width: 90%; /* Set width to 90% of the parent container */
    margin: 0 auto; /* Center horizontally */
  }


}

/* BETWEEN SMART WATCH AND SMALL CELLPHONE */ 

@media (min-width: 250px) and (max-width: 600px) {
  
  .footer-right {
    display: none !important;    
    }
    
    .footer-left, 
    .footer-center {      
      align-items: flex-start; /* Align vertically */
      justify-content: flex-start;
      vertical-align: middle;
      zoom: 1.23;         
    }      
    
    .footer-container {    
      grid-template-columns: auto auto; /* Defines two columns for footer-left and footer-center */
      justify-content: center; /* Centers content horizontally */
      align-items: center; /* Centers content vertically */
      gap: 1px; /* Space between columns */      
    }
    
   .supported-text2, .rights2 {
      font-size: 15px; /* Sets the font size for both text elements */
      font-family: Calibri;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      padding-bottom: 0.4%;
    }
    
    .english-text,
    .portuguese-text {       
      margin-right: 10px;  
      justify-content: center;
      align-items: center;
    }
    
    .low-icons {    
      margin-left: 6px;        
    }

    .kevinbox {
      display: flex; /* Enable Flexbox */  
      align-items: center; /* Center horizontally */
      justify-content: center; /* Center vertically */
      text-align: center; /* Ensure inline elements are centered */ 
  }

  
  .about-content, .extra-text, .copyright-content, .articles-content, .images-content, .projects-content, .coop-content, .tradingbot-content, .languages-content, .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;        
    width: 90%; /* Set width to 90% of the parent container */
    margin: 0 auto; /* Center horizontally */
  }

      
}

/* AVERAGE TABLET : CHECK PADDING KEVINBOX  */ 

@media (min-width: 600px) and (max-width: 900px) {

  body {
    zoom: 0.8;    
  }
     
 
  .navbar {
    zoom: 0.9;       
  }
  
  
  .parent.container {
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    flex-direction: column; /* Optional: Arrange children in a column */
    text-align: center; /* Optional: Centers text within the container */

  }

    
  .overall-bottom-container {
    display: flex; /* Enables flexbox layout */
    flex-direction: column;  
    justify-content: center; /* Horizontal centering */
    align-items: center;  
    text-align: center;
    margin-bottom: 20px;
  }
        

  .about-content, .extra-text, .copyright-content, .articles-content, .images-content, .projects-content, .coop-content, .tradingbot-content, .languages-content, .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;        
    width: 90%; /* Set width to 90% of the parent container */
    margin: 0 auto; /* Center horizontally */
  }


  .kevinbox {
    display: flex; /* Enable Flexbox */  
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Ensure inline elements are centered */
    height: 100%; /* Full viewport height */
    width: 100%; /* Full viewport width */  
    overflow: auto; /* Prevent content from overflowing */
}

    
    .footer-right {    
    display: none !important;    
    }

    .footer-left, 
    .footer-center {      
      align-items: flex-start; /* Align vertically */
      justify-content: flex-start;
      vertical-align: middle;
      zoom: 0.9; 
    }
    
    
    .footer-container {    
      grid-template-columns: auto auto; /* Defines two columns for footer-left and footer-center */
      justify-content: center; /* Centers content horizontally */
      align-items: center; /* Centers content vertically */
      gap: 1px; /* Space between columns */      
    }
    
    .supported-text1, .supported-text2, .rights2 {
      font-size: 15px; /* Sets the font size for both text elements */
      font-family: Calibri;
      align-items: center;
      justify-content: center;
    }
    
    .english-text,
    .portuguese-text {       
      margin-right: 10px;  
      justify-content: center;
      align-items: center;
    }
    
    .low-icons {    
      margin-left: 6px;        
    }
}

  
  @media (min-width: 900px) {
    
    .overall-bottom-container {
      grid-template-areas:
        "comment-text email-text"
        "comment-container email-container"
        "comment-send email-sub";
        padding-left: 85px;
        flex-direction: column;  
        margin-bottom: 20px;
    }


    .about-content, .extra-text, .copyright-content, .articles-content, .images-content, .projects-content, .coop-content, .tradingbot-content, .languages-content, .contact-content {
      display: flex;
      flex-direction: column;
      justify-content: center; /* Center content vertically */
      align-items: center; /* Center content horizontally */
      text-align: center;        
      width: 90%; /* Set width to 90% of the parent container */
      margin: 0 auto; /* Center horizontally */
    }


  
    .comment-text {
      grid-area: comment-text;
    }
  
    .email-text {
      grid-area: email-container;
      margin-top: 40px;
    }
  
    .comment-container {
      grid-area: comment-container;
    }
  
    .email-container {
      grid-area: email-container;
      margin-top: 80px;
    }
  
    .comment-send {
      grid-area: comment-send;
    }
  
    .email-sub {
      grid-area: email-sub;
      margin-top: -1.5px; /* Pull it upwards */
    }
  }  
   
  /* SMALL CELLPHONES  */

  @media (min-width: 200px) and (max-width: 350px) and (min-resolution: 30dpi) and (max-resolution: 140dpi) {
  
    body {  
      zoom: 0.45;     
    }
        
    .navbar {  
      zoom: 0.65;         
    }
  
    .kevinbox {
      display: flex; /* Enable Flexbox */  
      align-items: center; /* Center horizontally */
      justify-content: center; /* Center vertically */
      text-align: center; /* Ensure inline elements are centered */
      height: 100%; /* Full viewport height */
      width: 100%; /* Full viewport width */  
      overflow: auto; /* Prevent content from overflowing */
  }

    .overall-bottom-container {
      display: grid;
      gap: 5px;
      grid-template-areas:
        "comment-text"
        "comment-container"
        "comment-send"
        "email-text"
        "email-container"
        "email-sub";
      max-width: 1200px;
      padding: 60px; /* Add padding for spacing inside the container */   
      border-radius: 10px; /* Optional rounded corners */
      flex-direction: column;  
  justify-content: center; /* Horizontal centering */
  align-items: center;  
  text-align: center;
  margin-bottom: 20px;
    }
  
  
    .about-content, .extra-text, .copyright-content, .articles-content, .images-content, .projects-content, .coop-content, .tradingbot-content, .languages-content, .contact-content {
      display: flex;
      flex-direction: column;
      justify-content: center; /* Center content vertically */
      align-items: center; /* Center content horizontally */
      text-align: center;        
      width: 90%; /* Set width to 90% of the parent container */
      margin: 0 auto; /* Center horizontally */
    }


  }
  
  /* AVERAGE DEVICE */
  
  @media (min-width: 350px) and (max-width: 600px) and (min-resolution: 30dpi) and (max-resolution: 140dpi) {
    
    body {
    zoom: 0.45;
    }
        
    .navbar {
      zoom: 0.70; 
    }

    .kevinbox {
      zoom: 1.2;
      display: flex; /* Enable Flexbox */  
      align-items: center; /* Center horizontally */
      justify-content: center; /* Center vertically */
      text-align: center; /* Ensure inline elements are centered */
      height: 100%; /* Full viewport height */
      width: 100%; /* Full viewport width */  
      overflow: auto; /* Prevent content from overflowing */
    }

    
    .overall-bottom-container {
      display: grid;
      gap: 5px;
      grid-template-areas:
        "comment-text"
        "comment-container"
        "comment-send"
        "email-text"
        "email-container"
        "email-sub";
      max-width: 1200px;
      padding: 60px; /* Add padding for spacing inside the container */   
      border-radius: 10px; /* Optional rounded corners */
      flex-direction: column;  
  justify-content: center; /* Horizontal centering */
  align-items: center;  
  text-align: center;
  margin-bottom: 20px;
  }


  .about-content, .extra-text, .copyright-content, .articles-content, .images-content, .projects-content, .coop-content, .tradingbot-content, .languages-content, .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;        
    width: 90%; /* Set width to 90% of the parent container */
    margin: 0 auto; /* Center horizontally */
  }

  
    .footer-right {
      display: none !important;
      }
      
      .footer-left, 
      .footer-center {      
        align-items: flex-start; /* Align vertically */
        justify-content: flex-start;
        vertical-align: middle;
      }      
      
      .footer-container {
        grid-template-columns: auto auto; /* Defines two columns for footer-left and footer-center */
        justify-content: center; /* Centers content horizontally */
        align-items: center; /* Centers content vertically */
        gap: 1px; /* Space between columns */            
      }
      
     .supported-text2, .rights2 {
        font-size: 15px; /* Sets the font size for both text elements */
        font-family: Calibri;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        padding-bottom: 0.4%;
      }
      
      .english-text,
      .portuguese-text {         
        margin-right: 10px;  
        justify-content: center;
        align-items: center;
      }
      
      .low-icons {      
        margin-left: 6px;         
      }
    
  }
  
  @media (min-width: 350px) and (max-width: 600px) and (min-resolution: 140dpi) and (max-resolution: 160dpi) {
      
    body {  
      zoom: 0.445;      
    }       
   
    .navbar {  
      zoom: 0.93;         
    }

    .kevinbox {
      zoom: 1.125;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
    }

    .footer-right {  
      display: none !important;      
      }
      
      .footer-left, 
      .footer-center {        
        align-items: flex-start; /* Align vertically */
        justify-content: flex-start;
        vertical-align: middle;                   
      }      
      
      .footer-container {
      
        grid-template-columns: auto auto; /* Defines two columns for footer-left and footer-center */
        justify-content: center; /* Centers content horizontally */
        align-items: center; /* Centers content vertically */
        gap: 1px; /* Space between columns */        
      }
      
     .supported-text2, .rights2 {
        font-size: 15px; /* Sets the font size for both text elements */
        font-family: Calibri;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        padding-bottom: 0.4%;
      }
      
      .english-text,
      .portuguese-text {         
        margin-right: 10px;  
        justify-content: center;
        align-items: center;
      }
      
      .low-icons {      
        margin-left: 6px;          
      }
    

      .overall-bottom-container {
        display: grid;
        gap: 5px;
        grid-template-areas:
          "comment-text"
          "comment-container"
          "comment-send"
          "email-text"
          "email-container"
          "email-sub";
        max-width: 1200px;
        padding: 60px; /* Add padding for spacing inside the container */   
        border-radius: 10px; /* Optional rounded corners */  
        flex-direction: column;  
  justify-content: center; /* Horizontal centering */
  align-items: center;  
  text-align: center;
  margin-bottom: 20px;
      }
  

      .about-content, .extra-text, .copyright-content, .articles-content, .images-content, .projects-content, .coop-content, .tradingbot-content, .languages-content, .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center content vertically */
        align-items: center; /* Center content horizontally */
        text-align: center;        
        width: 90%; /* Set width to 90% of the parent container */
        margin: 0 auto; /* Center horizontally */
      }


  }
  
  /*MY CELLPHONE*/

  @media (min-width: 350px) and (max-width: 600px) and (min-resolution: 160dpi) and (max-resolution: 180dpi)  {
     
    .chrome-mobile body {
      zoom: 0.45; 
  }
  
  .chrome-mobile .navbar {
      zoom: 0.87; 
  }
  
    body {  
    zoom: 0.43;       
    }
       
     .navbar {  
    zoom: 0.87;         
    }

    .kevinbox {
      zoom: 1.2;
      display: flex; /* Enable Flexbox */  
      align-items: center; /* Center horizontally */
      justify-content: center; /* Center vertically */
      text-align: center; /* Ensure inline elements are centered */
      height: 100%; /* Full viewport height */
      width: 100%; /* Full viewport width */  
      overflow: auto; /* Prevent content from overflowing */
    }

.name {

  zoom: 1.6 !important;
}

    .overall-bottom-container {  
      display: flex;
      flex-direction: column;
      justify-content: center; /* Center content vertically */
      align-items: center; /* Center content horizontally */
      text-align: center;
      gap: 10px; /* Add spacing between elements */
      padding: 10px; /* Add padding for better spacing */
      width: 100%;
      margin-bottom: 30px;
    }
      


    .about-content, .extra-text, .copyright-content, .articles-content, .images-content, .projects-content, .coop-content, .tradingbot-content, .languages-content, .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center content vertically */
        align-items: center; /* Center content horizontally */
        text-align: center;        
        width: 90%; /* Set width to 90% of the parent container */
        margin: 0 auto; /* Center horizontally */
      }

    

      .footer-right {  
        display: none !important;        
        }
        
        .footer-left, 
        .footer-center {          
          align-items: flex-start; /* Align vertically */
          justify-content: flex-start;
          vertical-align: middle;                     
        }      
        
        .footer-container {        
          grid-template-columns: auto auto; /* Defines two columns for footer-left and footer-center */
          justify-content: center; /* Centers content horizontally */
          align-items: center; /* Centers content vertically */
          gap: 1px; /* Space between columns */         
        }
        
       .supported-text2, .rights2 {
          font-size: 15px; /* Sets the font size for both text elements */
          font-family: Calibri;
          align-items: center;
          justify-content: center;
          vertical-align: middle;
          padding-bottom: 0.4%;
        }
        
        .english-text,
        .portuguese-text {           
          margin-right: 10px;  
          justify-content: center;
          align-items: center;
        }
        
        .low-icons {        
          margin-left: 6px;            
        }
        
        .email-sub {  
          margin-top: 4px;        
        }  
  }
  
/* MARCOS CEL */

  @media (min-width: 350px) and (max-width: 600px) and (min-resolution: 180dpi) and (max-resolution: 200dpi)  {
      
    body {  
      zoom: 0.415;       
    }
         
    .navbar {  
      zoom: 0.81;           
    }
  
    .kevinbox {
      zoom: 1.125;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
    }

    .footer-right {  
      display: none !important;      
      }
      
      .footer-left, 
      .footer-center {        
        align-items: flex-start; /* Align vertically */
        justify-content: flex-start;
        vertical-align: middle;                   
      }      
      
      .footer-container {      
        grid-template-columns: auto auto; /* Defines two columns for footer-left and footer-center */
        justify-content: center; /* Centers content horizontally */
        align-items: center; /* Centers content vertically */
        gap: 1px; /* Space between columns */       
      }
      
     .supported-text2, .rights2 {
        font-size: 15px; /* Sets the font size for both text elements */
        font-family: Calibri;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        padding-bottom: 0.4%;
      }
      
      .english-text,
      .portuguese-text {         
        margin-right: 10px;  
        justify-content: center;
        align-items: center;
      }
      
      .low-icons {
      margin-left: 6px;          
      }    

      .overall-bottom-container {
        display: grid;
        gap: 5px;
        grid-template-areas:
          "comment-text"
          "comment-container"
          "comment-send"
          "email-text"
          "email-container"
          "email-sub";
        max-width: 1200px;
        padding: 60px; /* Add padding for spacing inside the container */   
        border-radius: 10px; /* Optional rounded corners */  
        flex-direction: column;  
        justify-content: center; /* Horizontal centering */
        align-items: center;  
        text-align: center;
        margin-bottom: 20px;
      }
  

      .about-content, .extra-text, .copyright-content, .articles-content, .images-content, .projects-content, .coop-content, .tradingbot-content, .languages-content, .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center content vertically */
        align-items: center; /* Center content horizontally */
        text-align: center;        
        width: 90%; /* Set width to 90% of the parent container */
        margin: 0 auto; /* Center horizontally */
      }



  }
  
/* MOM CELL */

  @media (min-width: 350px) and (max-width: 600px) and (min-resolution: 200dpi) and (max-resolution: 600dpi)  {
      
    .chrome-mobile body {
      zoom: 0.50; 
  }
  
  .chrome-mobile .navbar {
      zoom: 0.75; 
  }
  
  .firefox-mobile .flags {  
   left: 43%;
  }
  
 .firefox-mobile .kevinbox {
    zoom: 0.9;
  }

  .firefox-mobile .navbar {
    zoom: 0.57;
  }
  
  .flags {  
    left: 45%;
   }
  
    body {
    zoom: 0.40;      
    }
        
   .navbar {  
      zoom: 0.53;       
    }
    
    .kevinbox {
      zoom: 1.125;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
    }

  .overall-bottom-container {  
  flex-direction: column;  
  justify-content: center; /* Horizontal centering */
  align-items: center;  
  text-align: center;
  /*padding-right: 7%;*/
  margin-bottom: 20px;
  zoom: 0.9;      
  }


  .about-content, .extra-text, .copyright-content, .articles-content, .images-content, .projects-content, .coop-content, .tradingbot-content, .languages-content, .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;        
    width: 90%; /* Set width to 90% of the parent container */
    margin: 0 auto; /* Center horizontally */
  }


  
  .footer-right {  
  display: none !important;  
  }
  
  .footer-left, 
  .footer-center {    
    align-items: flex-start; /* Align vertically */
    justify-content: flex-start;
    vertical-align: middle;
    zoom: 0.9; 
  }
    
  .footer-container {  
    grid-template-columns: auto auto; /* Defines two columns for footer-left and footer-center */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    gap: 1px; /* Space between columns */    
  }
  
  .supported-text1, .supported-text2, .rights2 {
    font-size: 15px; /* Sets the font size for both text elements */
    font-family: Calibri;
    align-items: center;
    justify-content: center;
  }
  
  .english-text,
  .portuguese-text {     
    margin-right: 10px;  
    justify-content: center;
    align-items: center;
  }
  
  .low-icons {  
    margin-left: 6px;      
  }

  }
  


  